<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%- if controller_name != 'trans' %>
    <header>
  <div>
  <% if user_signed_in? %>
    <nav>
      <ul class='nav'>
        <li><%= link_to '<', root_path %></li>
        <li><%= yield(:title) %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
      </ul>
    </nav>
		<%end%>
  </div>
</header>
 <% end %>
<div class="container">
    <%= notice %>
    <%= alert %>
<%= yield %>
</div>
  </body>
</html>
